* {
    margin: 0;
    padding: 0;
    border: 0;
}
#menu {
    list-style: none;
    padding: 0;
    background-color: #f3a3d7;
    height: 30px;
}
#menu li {
    display: inline-block;
    color:rgb(142, 1, 74);
    padding: 20px;
    display: inline-block;
    display: inline;
    font-size: 20pt;
}
#menu li a {
    color: white;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    display: inline;
    font-size: 20pt;
}
#menu li a:hover {
    color: blue;
}
.faixa1 {
    height: 160px;
    width: 100%;
}
.circulo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: white;
}
.faixa2 {
    height: 500px;
    width: 100%;
    color:rgb(142, 1, 74) ;
    background-color: #ffb3e6;
}
h1 {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 38%;
}
p {
    font-size: 15pt;
    text-align: center;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -20%);
}
.bolinhas {
   height:230px;
   width:100%;
   display: flex;
   justify-content: center;
   background-color:#f3a3d7;
}

.textobolinhas {
    
    height:70px;
    width:100%;
    
}
.faixa3 {
    height:70px;
    width:100%;
    
}
.circulo img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.IMGeu {
    position: absolute;
    left: 10px;
    width: 30%;
    height: 70vh;
}

.TEXTeu {
    position: absolute;
    left: 480px;
    width: auto;
    height: 50vh;
}
.UPPERtext {
    margin: 0;
    padding: 0;
}
.imgPAGE {
    display: inline-block;
    position: relative;
    max-width: 200px;
    height: auto;
    margin:12px;
    margin-top: 150%;
    padding:8px;
    margin-left:83%;
}
.img-container {
    display: flex;

}

.pezinho {
    text-align: center;
    position: absolute;
    top: 86%;
    left: 510px;
}

.pes {
    text-align: center;
    position: absolute;
    top: 86%;
    left: 745px;
}

.ope {
    text-align: center;
    position: absolute;
    top: 86%;
    left: 947px;
}
.foto {
    width: 100%;
    height: 350px;
}
.caixinha {
    width: 30%;
    display: inline-block;
    float: left;
}
.meio {
    margin-right: 5%;
    margin-left: 5%;
}
#contato {
    width: 100%;
    height: 80vh;
}
.eu {
    width: 45%;
    margin-top: 25px;
    display: inline-block;
}
.fotoeu {
    width: 100%;
}
.paragrafo {
    width: 45%;
    margin-top: 40px;
    float: right;
    margin-right: 8%;
}
.peu {
    margin-top: 45px;
    margin-bottom: 10px;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-30%, -100%);
    color: rgb(142, 1, 74)
}
.h1eu {
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-10%, -100%);
    color: rgb(142, 1, 74);
}
main {
    background-color: rgb(244, 220, 230);
}
footer {
    background-color: rgb(244, 220, 230);
    
}
.rodape {
    width: 100%;
    height: 130px;
}


/*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilo.css">
    <title>MARIA BADRA</title>
</head>
<body>
    <h1 class="UPPERtext">Textos</h1>
    <div class="img-container">
    <img src="jornal.webp" class="imgPAGE">
    <img src="jornal.webp" class="imgPAGE">
    <img src="jornal.webp" class="imgPAGE">
    <img src="jornal.webp" class="imgPAGE">
    <img src="jornal.webp" class="imgPAGE">
    </div>
    
</body>
</html>